@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=National+Park:wght@200..800&family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=National+Park:wght@200..800&family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&display=swap');
body {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212 Dark charcoal;
   color: #f0f0f0;
  overflow-x: hidden;
  /* overflow-y: auto; */
  /* overflow-y: auto; */
  overflow-y: auto;
  height: auto;
  margin: 0;
  padding: 0;
}  


* {
  box-sizing: border-box;
}


