.about-main {
    padding: 6rem 2rem 3rem 2rem; /* Top padding badhaya for navbar space */
    background-color: #1a1a1a;
    color: white;
    font-family: 'Outfit', sans-serif;
    /* overflow-y: auto; */

  }
  
  /* Top Heading Center */
  .about-heading-center {
    text-align: center;
    margin-bottom: 3px;
    margin-top: 400px;
  }
  
  .top-tagline {
    font-size: 2rem;
    color: rgb(245, 97, 97);
    margin-bottom: 0px;
    font-family: "Dancing Script";
  }
  
  .main-heading {
    font-size: 5rem;
    font-weight: bold;
    color: white;
    line-height: 1.1;
    letter-spacing: -2x;
    font-weight: 600;
    margin-top: 20px;
  }
  
  /* Content: Left & Right */
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
  }
  
  .about-left {
    flex: 1;
    max-width: 600px;
  }
  
  .our-story-title {
    font-size: 2rem;
    color: rgb(245, 97, 97);
    margin-bottom: 0.5rem;
    font-family: "Dancing Script";
  }
  
  .our-story-description {
    font-size: 4rem;
    font-weight: 450;
    line-height: 1.1;           /* Tightens vertical spacing */
    letter-spacing: -2px;       /* Thoda spacing kam kare words ke beech */
    color: white;
    margin-top: 0px;
    font-family: 'Outfit', sans-serif;
  }
  
  .about-caption {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    line-height: 1.5;
  }
  
  /* Image Right */
  .about-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
  }
  .sp{
    color: rgb(245, 97, 97);;
  }
  /* Responsive */
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
      align-items: center;
    }
  
    .about-left, .about-right {
      max-width: 100%;
      text-align: center;
    }
  
    .main-heading {
      font-size: 3.5rem;
    }
  
    .top-tagline {
      font-size: 1.5rem;
    }
  }
  